################################################################################
# Sets printer name
################################################################################
[delayed_gcode SET_PRINTER_NAME]
initial_duration: 3
gcode:
    SAVE_VARIABLE VARIABLE=printername VALUE='"Q5"'
    SAVE_VARIABLE VARIABLE=printertype VALUE='"corexy"'
    SAVE_VARIABLE VARIABLE=printerchamber VALUE='1'
    SAVE_VARIABLE VARIABLE=printerchambersensor VALUE='"Chamber"'

[delayed_gcode SET_FANS]
initial_duration: 5
gcode:
    SET_PIN PIN=filterfan VALUE={255 * 0.15}
    SET_FAN_SPEED FAN=board_fan SPEED=0.5